[submodule "homepage/themes/hugoplate"]
	path = homepage/themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate.git
[submodule "homepage/themes/FixIt"]
	path = homepage/themes/FixIt
	url = https://github.com/hugo-fixit/FixIt.git
